<div class="row-fluid">
  <div class="offset4 span4 form-horizontal loginbox">
    <div class="control-group">
      <label class="control-label" for="inputEmail">Email</label>
      <div class="controls">
        <input type="text" ng-model="email" id="inputEmail" placeholder="Email"/>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputUsername">Username</label>
      <div class="controls">
        <input type="text" ng-model="username" id="inputUsername" placeholder="Username"/></div>
    </div>
    <div class="control-group">
      <label class="control-label" for="inputPassword">Password</label>
      <div class="controls">
        <input type="password" ng-model="password" id="inputPassword"
               placeholder="Password" />
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <button class="btn" ng-click="register()">Register</button>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <a ng-click="loginUI()">Login</a>
      </div>
    </div>
  </div>
</div>
